body {
    background: linear-gradient(to bottom right, #472816, #F2EFBB);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#conteiner {
    border: solid 1px white;
    width: 1200px;
    height: 550px;
    border-radius: 50px;
    color: black;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: black;
}

button {
    height: 60px;
    width: 200px;
    background-color: #472816;
    font-weight: bold;
    margin-top: 10px;
    border: 0;
    border-radius: 50px;

}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#dpbutton{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}


.perguntas{
    font-weight: bold;
}